<section class="cases-section">
<div class="container">
    <p class="cases-pre-title">This is what we do</h2>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="cases-items list">
      <li class="cases-list"><img src="../img/cases.img/Rectangle.jpg" alt="Rectangle "></li>
      <li class="cases-list"><img src="../img/cases.img/Rectangle (1).jpg" alt="Rectangle "></li>
      <li class="cases-list"><img src="../img/cases.img/Rectangle (2).jpg" alt="Rectangle "></li>
      <li class="cases-list"><img src="../img/cases.img/Rectangle (3).jpg" alt="Rectangle "></li>
      <li class="cases-list"><img src="../img/cases.img/Rectangle (4).jpg" alt="Rectangle "></li>
      <li class="cases-list"><img src="../img/cases.img/Rectangle (5).jpg" alt="Rectangle "></li>
      <li class="cases-list"><img src="../img/cases.img/Rectangle (6).jpg" alt="Rectangle "></li>
      <li class="cases-list"><img src="./img/cases.img/Rectangle (7).jpg" alt="Rectangle "></li>
    </ul>
</di >
</section>
