<section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam
    exercitationem, sit nulla voluptas quod laborum molestias et. Repellat fugit
    ut quae atque non ipsum accusantium vel unde consequuntur fuga.
  </p>
  <!-- Элементы для вызова модальных окон, могут быть любые -->

  <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>

  <!-- Несколько модальных окон -->

  <div class="modal" data-modal="2">
    <!--   Svg иконка для закрытия окна  -->
    <svg
      class="modal__cross js-modal-close"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg>
    <p class="modal__title">Заголовок окна 2</p>
  </div>
</section>

<section class="solutions"><div class="container-solutions">
  <div class="image">    <img class="section-img"
      src="../img/people.jpg"
      alt="a group of people"
      width="680"
      height="460"
    /></div>

<div class="main-part"><p class="upper-text">What you are looking for</p>
    <h2 class="solutions-header">We provide bespoke solutions</h2>
    <p class="lower-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      quia, repudiandae beatae non reprehenderit illum neque facere placeat
      voluptas porro.
    </p>
    <button type="button" class="btn-solutions">Read more</button></div>
    
  </div></section>
  
</section>
