<section class="team">
  <div class="container">
    <p>Who we are</p>
    <h2>Our Professional Team</h2>
    <ul class="team-list">
      <li class="team-item">
        <img
          src="../img/team/team-1.jpg"
          alt="John Doe"
          width="420"
          height="280"
        />
        <div class="team-wrapper">
          <h3>John Doe</h3>
          <p>President</p>
        </div>
      </li>
      <li class="team-item">
        <img
          src="../img/team/team-2.jpg"
          alt="Jane Doe"
          width="428"
          height="286"
        />
        <div class="team-wrapper">
          <h3>Jane Doe</h3>
          <p>Vice President</p>
        </div>
      </li>
      <li class="team-item">
        <img
          src="../img/team/team-3.jpg"
          alt="Steve Smith"
          width="420"
          height="280"
        />
        <div class="team-wrapper">
          <h3>Steve Smith</h3>
          <p>Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
