.section-features {
    background: #F4F4F4;
}

.container {
    width: 1360px;

}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 71px;
}

.features-item {
    width: 362px;
    height: auto;
    border-radius: 4px;
}

.features-icon {}

.title {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    color: #333333;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}