.solutions {
  background-color: #28a745;
  color: #ffffff;
  font-style: normal;
}

.solutions .upper-text {
  font-family: 'Open Sans', sans-serif;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.solutions-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-top: 5px;
  margin-bottom: 26px;
}

.lower-text {
  max-width: 606px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 17px;
}

.btn-solutions {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #28a745;
  color: #ffffff;
  width: 167px;
  height: 50px;
}

.container-solutions {
  display: flex;
}

.main-part {
  padding: 84px 44px 84px 30px;
}

.section-img {
  height: 100%;
}
